<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <!--<connectionStrings>
    <add name="QLQCFEntities" connectionString="metadata=res://*/Ent_QLQCF.csdl|res://*/Ent_QLQCF.ssdl|res://*/Ent_QLQCF.msl;
		 provider=System.Data.SqlClient;provider connection string=&quot;   
		 data source=ChisThanh\CHISTHANH;User ID=sa;Password=123;initial catalog=dtb_QLQCF;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
		 providerName="System.Data.EntityClient" />
  </connectionStrings>-->
	<connectionStrings>
		<add name="QLQCFEntities" connectionString="metadata=res://*/Ent_QLQCF.csdl|res://*/Ent_QLQCF.ssdl|res://*/Ent_QLQCF.msl;
		 provider=System.Data.SqlClient;provider connection string=&quot;
		 data source=chisthanh\chisthanh;initial catalog=bpc_QLQCF;user id=sa;password=123;
		 MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v15.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>